{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto veritatis, dolores placeat quidem nulla minus ad explicabo cumque delectus. Voluptas reprehenderit doloremque adipisci necessitatibus! Consequatur necessitatibus nemo non delectus perferendis molestiae earum consequuntur sunt quisquam quae eveniet, doloribus nisi, doloremque, repudiandae dolorem vel accusamus fugit impedit quasi similique magnam modi nam veritatis perspiciatis. Officia, adipisci nesciunt ducimus quos labore doloremque vel iusto omnis! Repellat sit ab eaque totam commodi perferendis accusamus illum. Unde sed cum, voluptatibus culpa perspiciatis reiciendis sunt ad mollitia aspernatur harum nulla repellat fugiat voluptatem. Eveniet cupiditate sit eum hic sequi totam, animi impedit beatae placeat!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}